<% unless @player %>
  <div id="loginModal" class="tiny reveal-modal" data-reveal>
    <div class="container panel full-panel">
      <h3 class="text-center">Login</h3>
      </br>
      <form autocomplete="on" action="/login" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" name="submit" class="button radius expand">Submit</button>
      </form>
    </div>
  </div>

  <div id="signUpModal" class="small reveal-modal" padding='none' data-reveal>
    <div class="container panel full-panel">
      <h3 class="text-center">Sign Up for RPS Extreme!!!</h3>
      </br>
      <form autocomplete="on" autocorrect="on" autocapitalize="off" action="/signup" method="post">
        <input type="text" name="name" placeholder="First Name" required autofocus>
        <input type="text" name="username" placeholder="Username" required autocapitalize="off" autocorrect="off">
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="password2" placeholder="Retype Password" required>
        <button type="submit" name="submit" class="button radius expand">Submit</button>
        <!-- Add a jquery function to disable submit buttons if passwords don't match -->
      </form>
    </div>
  </div>

<% else %>

  <div id="logoutModal" class="tiny reveal-modal" data-reveal>
    <div class="row panel full-panel">
      <p class="text-center">Are you sure you want to log out?</p>
      <form action="/logout" method="post">
        <button type="submit" name="submit" class="button radius small columns medium-4 medium-offset-4">OK</button>
      </form>
    </div>
  </div>

  <% if @match %>
    <div id="historyModal" class="small reveal-modal" data-reveal>
      <table>
        <thead>
          <tr>
            <th width='150'class='text-left'>Your Move</th>
            <th width='50' class='text-center'>Winner? </th>
            <th width='150'class='text-right'>Opponent Move</th>
          </tr>
        </thead>
        <tbody>
          <% @history.each do |game|%>
            <% if game.completed? %>
              <%moves = game.moves %>
              <% player_move, opponent_move = moves[0].player_id == @player.player_id ? moves : moves.reverse %>
            <tr>
              <td width='150'class='text-left'>
                <%= player_move.action %>
              </th>
              <td width='50' class='text-center'>
                <%= player_move.wins?(opponent_move) %>
              </th>
              <td width='150'class='text-right'>
                <%= opponent_move.action %>
              </th
            <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
