<div data-equalizer>
  <div class="columns large-6">
    <div class="callout panel full-panel your-move matches" data-equalizer-watch>
      <ul class ='pricing-table your-move'>
        <li class='title'>Your turn!</li>
        <% @matches.each do |match| %>
          <li>
            <form action='/players/<%=@player.player_id%>/matches/<%=match.match_id%>' method="get">
              <button type='submit' class="button expand bullet-item">
                <%= match.opponent_for(@player) ? match.opponent_for(@player).name : "Waiting for opponent" %>
              </button>
            </form>
          </li>
        <% end %>

        <li>
          <form action="/api/players/<%=@player.player_id%>/matches" method="post">
            <button type='submit' class="button expand start-new-game bullet-item">Start new match</button>
          </form>
        </li>
      </ul>
    </div>
  </div>

  <div class="columns large-6">
    <div class="callout panel their-move full-panel matches" data-equalizer-watch>
      <ul class ="pricing-table their-move">
        <li class='title'>Their turn!</li>
        <!-- Their Move Games Here -->
      </ul>
    </div>
  </div>
</div>
