<div class="columns large-6 callout panel row your-move">
  <h3 class="text-center">Your turn!</h3>
  <div class="your-move" your-games></div>
  <button class="your-move">Start new game</button>
</div>

<div class="columns large-6 callout panel their-move row">
  <h3 class="text-center">Their turn!</h3>
  <div class="their-move" their-games></div>
</div>
