<div class="columns large-6 callout panel row your-move matches" data-equalizer>
  <h3 class="text-center">Your turn!</h3>
  <ul class ="your-move" data-equalizer-watch>
    <% @matches.each do |match| %>
      <li>
        <form action='/players/<%=@player.player_id%>/matches/<%=match.match_id%>' method="post">
          <button class="button expand start-new-game">
            <%= match.get_opponent(@player) %>
          </button>
        </form>
      </li>
    <% end %>

    <li>
    <form action="/api/players/<%=@player.player_id%>/matches" method="post">
        <button class="button expand start-new-game">Start new match</button>
      </form>
    </li>
  </ul>
</div>

<div class="columns large-6 callout panel their-move row matches" data-equalizer-watch>
  <h3 class="text-center">Their turn!</h3>
  <ul class ="their-move">
    <!-- Their Move Games Here -->
  </ul>
</div>
