<div id="main" class="row">
  <div class="large-12 medium-12 column">

    <div class="row center">
      <div class="large-12 medium-12 column">
        <h2>Rock Paper Scissors Extreme!!!</h2>
      </div>
    </div>

    <div class="row">
      <div class="large-12  medium-12 column">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium quasi, voluptates voluptatibus quo ex ipsum aliquam minus officia culpa, necessitatibus, quaerat, dolorum magnam! Eos aliquam, perspiciatis repudiandae ab ad ratione.</p>
      </div>
    </div>

    <div class="row center">
      <div class="large-12 medium-12 column">
        <a id="sign_up_button" href="#" class="button">SIGN UP</a>
      </div>
    </div>

  </div>
</div>
