/* line 1, ../scss/rps.sass */
.logo {
  padding: 8px;
  background: #3720c9;
  border-radius: 0.7rem;
  border: 2px solid #d2079a;
  text-align: center;
  -ms-transform: skew(-35deg, -1deg);
  -webkit-transform: skew(-35deg, -1deg);
  transform: skew(-35deg, -1deg); }
  /* line 10, ../scss/rps.sass */
  .logo span {
    color: #fff409;
    font-size: 1.7rem;
    font-weight: bold;
    text-shadow: -10px 5px black; }

/* line 16, ../scss/rps.sass */
button.panel {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 40px;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 100%;
  color: #333333;
  text-weight: bold;
  font-size: 1.5rem; }

/* line 27, ../scss/rps.sass */
div.panel {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 82.5%; }
  /* line 34, ../scss/rps.sass */
  div.panel.full-panel {
    padding: 3px;
    width: 100%; }

@media all and (max-width: 64rem) {
  /* line 39, ../scss/rps.sass */
  .main {
    max-width: 90%; } }
/* line 43, ../scss/rps.sass */
div.panel.matches ul {
  border-radius: 15px;
  border: none;
  padding-bottom: 8px; }
  /* line 47, ../scss/rps.sass */
  div.panel.matches ul .title {
    border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0; }
/* line 50, ../scss/rps.sass */
div.panel.matches.your-move {
  background-color: green; }
  /* line 52, ../scss/rps.sass */
  div.panel.matches.your-move button {
    margin: 0px;
    border: green solid 2px; }
/* line 55, ../scss/rps.sass */
div.panel.matches.their-move {
  background-color: orange; }
  /* line 57, ../scss/rps.sass */
  div.panel.matches.their-move button {
    margin-bottom: 5px;
    border: orange solid 2px; }
/* line 60, ../scss/rps.sass */
div.panel.matches.no-move {
  background-color: red; }
  /* line 62, ../scss/rps.sass */
  div.panel.matches.no-move button {
    margin: 0 3px 5px 3px;
    border: red solid 2px; }
